<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container w-50 bg-dark">
        <div id = "surveybox" class="homepage">
            <h1 class="text-warning text-center">Dojo Survey</h1>
            <!-- submit name -->
            <form id ="form" class ="text-white" action='/process' method ='post'>
                <div class="mb-3">
                    <label for='name' class="form-label"> Name: </label>
                    <input type='text' class = "form-control" name = 'name'>
                </div>
                
            <!-- submit gender/radio-->
                <div class="mb-3">
                    <p>Please Select Your Gender</p>
                    <input type="radio" id="male" name="gender" value="male">Male

                    <input type="radio" id="female" name="gender" value="female">Female
                </div>
            
            <!-- submit location info -->
                <div class="mb-3">
                    <label for ='location' class="form-label">Dojo Location: </label>
                    <select  class="form-control" name ='location'>
                        <!-- <option value="" disabled selected hidden>-- Select Your Location --</option> -->
                        <!-- disabled is sending nothing back -->
                        <option value="" selected hidden>-- Select Your Location --</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Los Angelos">Los Angelos</option>
                        <option value="New York">New York</option>
                        <option value="Orlando">Orlando</option>
                    </select>
                </div>
                            
            <!-- submit language info -->
                <div class="mb-3">
                    <label for ='language' class="form-label">Favorite Language: </label>
                    <select class = "form-control" name ='language'>
                        <option value="" selected hidden>-- Select A Language  --</option>
                        <option value="Python">Python</option>
                        <option value ="Java">Java</option>
                        <option value="C#">C#</option>
                        <option value="CSS">CSS</option>
                        <option value="HTML">HTML</option>
                        <option value="Javascript">Javascript</option>
                    </select>
                </div>

                <!-- submit comments -->
                <div class="mb-3">
                    <label for='comment' class="form-label"> Comments (optional): </label>
                    <textarea class= "form-control" name="comment" rows ="4" cols="50"></textarea>
                </div>


                <input class ="btn btn-primary" type='submit' value='submit'>
            </form>
            {% with messages = get_flashed_messages() %}
            <!-- declare a variable called messages -->
            {% if messages %}
            <!-- check if there are any messages -->
            {% for message in messages %}
            <!-- loop through the messages -->
            <small class="text-danger">{{message}}</small class="text-danger">
            <!-- display each message in a paragraph tag -->
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>


    </div>
</body>
</html>